@charset "UTF-8";
header {
  display: flex;
  justify-content: space-between;
  background-color: #282828;
  border-bottom: 1px solid #383838; }
  header .logo {
    margin: 25px 0 29px 80px; }
    @media (max-width: 640px) {
      header .logo {
        margin: 25px 0 29px 20px; } }
  header .menu {
    margin: 37px 81px 29px 0; }
    @media (max-width: 640px) {
      header .menu {
        margin: 37px 25px 29px 0; } }
    header .menu li {
      margin-right: 25px; }
      @media (max-width: 1240px) {
        header .menu li {
          margin-right: 0;
          margin-top: 10px; } }
      header .menu li:last-child {
        margin-right: 0; }
      header .menu li a {
        color: #fff;
        font-family: "SegoeWPSemibold", sans-serif;
        font-size: 14px;
        letter-spacing: 0.7px;
        transition: all ease-in-out 0.5s; }
        header .menu li a:hover {
          color: #ff1e3e; }
      header .menu li .fa-caret-down {
        height: 6px;
        width: 8px;
        color: #ff1e3e;
        padding-left: 5px; }

.slicknav_menu {
  display: none; }

@media (max-width: 1240px) {
  #menu {
    display: none; }

  .slicknav_menu {
    display: block; } }
.title {
  display: flex;
  justify-content: space-between;
  background: url("../img/main-background.jpg");
  padding-top: 105px;
  padding-bottom: 157px; }
  @media (max-width: 640px) {
    .title {
      padding-top: 30px;
      padding-bottom: 30px; } }
  .title .description-wrapper {
    position: relative; }
  .title .description {
    text-align: left;
    position: absolute;
    top: 130px;
    left: 510px; }
    @media (max-width: 1620px) {
      .title .description {
        left: 100px; } }
    @media (max-width: 1240px) {
      .title .description {
        position: static;
        padding-top: 50px;
        padding-left: 100px; } }
    @media (max-width: 640px) {
      .title .description {
        padding-top: 30px;
        padding-left: 30px; } }
    .title .description span {
      font-family: "SegoeWPSemibold", sans-serif;
      font-size: 17px;
      letter-spacing: 1.28px; }
      @media (max-width: 640px) {
        .title .description span {
          font-size: 3vw; } }
    .title .description h1 {
      margin-top: 65px;
      margin-bottom: 135px;
      max-width: 605px;
      position: relative; }
      @media (max-width: 640px) {
        .title .description h1 {
          font-size: 10vw;
          margin-top: 35px;
          margin-bottom: 70px; } }
      .title .description h1:after {
        content: '';
        position: absolute;
        left: 0;
        top: 215px;
        width: 211px;
        height: 5px;
        background-color: #ff1e3e; }
        @media (max-width: 640px) {
          .title .description h1:after {
            top: 25vw; } }
    .title .description .button-holder {
      text-align: right; }
      @media (max-width: 640px) {
        .title .description .button-holder {
          text-align: center; } }
      .title .description .button-holder button {
        color: #fff;
        cursor: pointer;
        width: 240px;
        height: 52px;
        background-color: #ff1e3e;
        font-family: "SegoeWP",sans-serif;
        font-size: 17px;
        letter-spacing: 3px;
        margin-top: 87px;
        transition: all ease-in-out 0.5s; }
        .title .description .button-holder button:hover {
          background-color: #fff;
          color: #ff1e3e; }
  @media (max-width: 1240px) {
    .title .photo {
      display: none; } }

.benefits {
  color: #000;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  max-width: 1123px;
  margin: 0 auto;
  padding-top: 122px;
  padding-bottom: 134px;
  flex-wrap: wrap; }
  @media (max-width: 960px) {
    .benefits {
      justify-content: center;
      padding-top: 30px;
      padding-bottom: 30px; } }
  .benefits .benefits-logo {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .benefits .benefits-description {
    text-align: left;
    max-width: 640px; }
    @media (max-width: 960px) {
      .benefits .benefits-description {
        padding: 30px 10px 0 10px; } }
    .benefits .benefits-description p {
      color: #232323;
      line-height: 28px; }
      .benefits .benefits-description p span {
        font-family: 'SegoeWPBold', sans-serif; }
      .benefits .benefits-description p:first-child {
        padding-bottom: 34px;
        border-bottom: 1px solid #e8e8e8; }
      .benefits .benefits-description p.bold {
        font-family: 'SegoeWPBold', sans-serif;
        padding: 35px 0 40px 9px; }
    .benefits .benefits-description ul li:nth-child(even) {
      margin-left: 40px; }
      @media (max-width: 640px) {
        .benefits .benefits-description ul li:nth-child(even) {
          margin-left: 0; } }
    .benefits .benefits-description ul li {
      padding-left: 45px;
      padding-bottom: 40px;
      position: relative; }
      .benefits .benefits-description ul li span:before {
        content: '';
        position: absolute;
        top: 0;
        left: 8px;
        width: 20px;
        height: 25px;
        background: url("../img/sprite.png") no-repeat; }
      .benefits .benefits-description ul li span.house:before {
        background-position: -45px;
        width: 24px; }
      .benefits .benefits-description ul li span.license:before {
        background-position: -18px;
        width: 24px; }
      .benefits .benefits-description ul li span.video:before {
        background-position: -72px;
        width: 24px; }

.program {
  background: url("../img/program-background.png");
  background-color: #282828;
  padding-top: 120px;
  padding-bottom: 105px; }
  @media (max-width: 640px) {
    .program {
      padding-top: 40px;
      padding-bottom: 30px;
      background-image: none; } }
  .program .program-heading {
    position: relative; }
    .program .program-heading:before {
      content: '';
      position: absolute;
      top: -30px;
      left: 90px;
      width: 81px;
      height: 79px;
      background-color: #ff1e3e; }
    .program .program-heading h2 {
      text-align: left;
      padding-left: 118px;
      position: absolute; }
      @media (max-width: 640px) {
        .program .program-heading h2 {
          padding-left: 40px; } }
  .program ul {
    padding-top: 200px;
    padding-bottom: 208px;
    max-width: 1050px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 640px) {
      .program ul {
        padding-top: 100px;
        padding-bottom: 50px;
        display: block; } }
    @media (max-width: 640px) {
      .program ul li {
        padding: 20px; } }
    .program ul li .circle {
      height: 160px;
      width: 160px;
      border: 8px solid #393939;
      border-radius: 50%;
      position: relative;
      margin-bottom: 70px; }
      .program ul li .circle.fundamental {
        background: url("../img/program-img1.png") no-repeat center center; }
      .program ul li .circle.exterior {
        background: url("../img/program-img2.png") no-repeat center center; }
      .program ul li .circle.interior {
        background: url("../img/program-img3.png") no-repeat center center; }
      .program ul li .circle.architecture {
        background: url("../img/program-img4.png") no-repeat center center; }
      .program ul li .circle:after {
        position: absolute;
        width: 81px;
        height: 79px;
        color: #fff;
        top: -15px;
        left: 90px;
        font-size: 32px; }
      .program ul li .circle.fundamental:after {
        content: '01'; }
      .program ul li .circle.exterior:after {
        content: '02'; }
      .program ul li .circle.interior:after {
        content: '03'; }
      .program ul li .circle.architecture:after {
        content: '04'; }
      .program ul li .circle:before {
        position: absolute;
        top: 200px;
        left: 75px;
        font-family: "SegoeWPBold", sans-serif;
        font-size: 55px;
        color: #2c2c2c; }
      .program ul li .circle.fundamental:before {
        content: '01';
        left: 105px; }
      .program ul li .circle.exterior:before {
        content: '02'; }
      .program ul li .circle.interior:before {
        content: '03'; }
      .program ul li .circle.architecture:before {
        content: '04'; }
    .program ul li p {
      position: relative; }
    .program ul li span {
      font-family: "SegoeWPLight", sans-serif; }
      .program ul li span.program-description {
        font-family: "SegoeWPBold", sans-serif; }
  .program .button-holder {
    text-align: right; }
    .program .button-holder button {
      width: 469px;
      height: 69px;
      background-color: #ff1e3e;
      color: #fff;
      font-family: "SegoeWP",sans-serif;
      font-size: 17px;
      text-align: left;
      letter-spacing: 3px;
      transition: all ease-in-out 0.5s; }
      .program .button-holder button a {
        transition: all ease-in-out 0.5s;
        padding-left: 55px;
        position: relative; }
        .program .button-holder button a:after {
          content: '+';
          position: absolute;
          top: -15px;
          right: -45px;
          font-size: 43px; }
      .program .button-holder button:hover {
        background-color: #fff; }
        .program .button-holder button:hover a {
          color: #ff1e3e; }

.teacher {
  max-width: 1125px;
  display: flex;
  justify-content: space-between;
  margin: auto auto;
  text-align: left;
  padding: 185px 0 277px 0; }
  @media (max-width: 960px) {
    .teacher {
      flex-wrap: wrap;
      justify-content: center;
      padding: 50px 10px 50px 10px; } }
  .teacher .teacher-title {
    max-width: 590px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .teacher .teacher-title h2 {
      color: #000;
      text-transform: uppercase;
      position: relative; }
      .teacher .teacher-title h2:after {
        content: '';
        position: absolute;
        left: 0;
        top: 65px;
        width: 211px;
        height: 5px;
        background-color: #ff1e3e; }
    .teacher .teacher-title p {
      color: #000;
      line-height: 28px; }
      @media (max-width: 960px) {
        .teacher .teacher-title p {
          margin-top: 50px; } }
    .teacher .teacher-title span {
      color: #000;
      font-family: "SegoeWPBold", sans-serif; }
      .teacher .teacher-title span.link {
        position: relative;
        padding-left: 35px; }
        .teacher .teacher-title span.link:before {
          content: '';
          position: absolute;
          height: 22px;
          width: 22px;
          top: 0;
          left: 0;
          background: url("../img/globe.png") no-repeat; }
  .teacher .teacher-img {
    position: relative; }
    @media (max-width: 960px) {
      .teacher .teacher-img {
        margin-top: 50px; } }
    .teacher .teacher-img:after {
      content: 'преподаватель курса';
      position: absolute;
      width: 222px;
      height: 38px;
      background-color: #ff1e3e;
      top: 330px;
      left: -60px;
      text-align: center;
      line-height: 38px;
      letter-spacing: 1px; }
      @media (max-width: 640px) {
        .teacher .teacher-img:after {
          left: -10px; } }

.free-lecture {
  max-height: 675px;
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
  border-top: 8px solid #ff1e3e;
  display: flex; }
  .free-lecture .img-holder {
    width: 50%; }
    @media (max-width: 960px) {
      .free-lecture .img-holder {
        display: none; } }
  .free-lecture .form-wrapper {
    padding-top: 105px;
    padding-bottom: 145px;
    background: url("../img/free=lection-bcg.jpg") no-repeat;
    position: relative;
    width: 951px; }
    .free-lecture .form-wrapper .form-holder {
      max-width: 505px;
      margin: 0 auto; }
      .free-lecture .form-wrapper .form-holder h2 {
        position: relative; }
        .free-lecture .form-wrapper .form-holder h2:after {
          content: '';
          background-color: #444444;
          position: absolute;
          top: 57px;
          left: 125px;
          width: 236px;
          height: 1px; }
          @media (max-width: 960px) {
            .free-lecture .form-wrapper .form-holder h2:after {
              display: none; } }
      .free-lecture .form-wrapper .form-holder p {
        margin-top: 52px; }
    .free-lecture .form-wrapper form {
      padding-top: 83px; }
    .free-lecture .form-wrapper input {
      margin-top: 17px;
      width: 385px;
      height: 52px;
      text-align: center; }
    .free-lecture .form-wrapper button {
      background-color: #ff1e3e;
      color: #fff;
      font-family: "SegoeWP",sans-serif;
      font-size: 17px;
      letter-spacing: 3px;
      width: 385px;
      height: 52px;
      transition: all ease-in-out 0.5s;
      margin-top: 75px; }
      .free-lecture .form-wrapper button:hover {
        background-color: #fff;
        color: #ff1e3e; }
    .free-lecture .form-wrapper:before {
      content: '';
      position: absolute;
      top: 273px;
      left: -57px;
      height: 114px;
      width: 114px;
      background: url("../img/red-img.png"); }
      @media (max-width: 960px) {
        .free-lecture .form-wrapper:before {
          display: none; } }

.students {
  padding-top: 240px;
  text-align: left; }
  @media (max-width: 960px) {
    .students {
      padding-top: 50px; } }
  .students h2 {
    color: #000000;
    padding-left: 80px;
    margin-bottom: 25px; }
  .students a.gallery-link {
    color: #d4d4d4;
    font-family: "SegoeWPBold", sans-serif;
    font-size: 16px;
    letter-spacing: 3.2px;
    margin-top: 25px;
    margin-left: 80px;
    padding-left: 30px;
    position: relative; }
    .students a.gallery-link:before {
      content: '\f0da';
      font-family: 'FontAwesome';
      font-size: 22px;
      color: #ff1e3e;
      position: absolute;
      top: 0;
      left: 0; }
  .students .students-works {
    margin-top: 140px;
    display: flex;
    justify-content: center; }
    @media (max-width: 640px) {
      .students .students-works {
        flex-wrap: wrap;
        align-content: center; } }
    .students .students-works li {
      position: relative; }
      .students .students-works li img {
        width: 100%;
        height: auto; }
      .students .students-works li:before {
        position: absolute;
        left: 51px;
        bottom: 65px;
        font-family: "SegoeWPBold", sans-serif;
        font-size: 33px;
        text-transform: uppercase;
        letter-spacing: 4px; }
      .students .students-works li:after {
        position: absolute;
        left: 51px;
        bottom: 115px;
        font-family: "SegoeWP", sans-serif;
        font-size: 15px;
        letter-spacing: 2px; }
        @media (max-width: 1920px) {
          .students .students-works li:after {
            bottom: 150px; } }
      .students .students-works li.work1:before {
        content: 'Диана Голуб'; }
      .students .students-works li.work1:after {
        content: 'группа: сентябрь 2016'; }
      .students .students-works li.work2:before {
        content: 'Колесник неля'; }
      .students .students-works li.work2:after {
        content: 'группа: сентябрь 2016'; }
      .students .students-works li.work3:before {
        content: 'Касько Алёна'; }
      .students .students-works li.work3:after {
        content: 'группа: сентябрь 2016'; }
      .students .students-works li.work4:before {
        content: 'Ширякина марина'; }
      .students .students-works li.work4:after {
        content: 'группа: сентябрь 2016'; }
    .students .students-works img:after {
      content: '';
      position: absolute;
      background-color: #000000;
      opacity: 0.78;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%; }

.contacts {
  padding-top: 155px;
  padding-bottom: 215px;
  text-align: left; }
  @media (max-width: 960px) {
    .contacts {
      padding: 50px 10px 50px 10px; } }
  .contacts h2 {
    color: #000000;
    text-transform: uppercase;
    position: relative;
    padding-left: 80px; }
    .contacts h2:after {
      content: '';
      position: absolute;
      left: 80px;
      top: 65px;
      width: 220px;
      height: 5px;
      background-color: #ff1e3e; }
  .contacts iframe {
    width: 100%;
    height: 464px;
    border: none; }
  .contacts .contacts-holder {
    color: #000000;
    padding-top: 95px;
    display: flex; }
    @media (max-width: 960px) {
      .contacts .contacts-holder {
        flex-wrap: wrap;
        justify-content: center; } }
    .contacts .contacts-holder .map {
      width: 50%; }
      @media (max-width: 960px) {
        .contacts .contacts-holder .map {
          width: 100%; } }
    .contacts .contacts-holder .contacts-information {
      padding: 12px 0 19px 132px;
      position: relative; }
      @media (max-width: 960px) {
        .contacts .contacts-holder .contacts-information {
          padding: 20px 0 20px 0; } }
      .contacts .contacts-holder .contacts-information:after {
        content: '';
        position: absolute;
        top: 170px;
        left: -57px;
        width: 114px;
        height: 114px;
        background: url("../img/map.jpg"); }
        @media (max-width: 960px) {
          .contacts .contacts-holder .contacts-information:after {
            display: none; } }
      .contacts .contacts-holder .contacts-information .phone {
        color: #0e0e0e;
        font-size: 40px;
        font-family: "SegoeWPBold", sans-serif; }
        .contacts .contacts-holder .contacts-information .phone span {
          font-family: "SegoeWPLight", sans-serif; }
      .contacts .contacts-holder .contacts-information .working-time {
        color: #c8c8c8;
        font-family: "SegoeWP", sans-serif;
        font-size: 16px;
        text-transform: uppercase;
        margin-top: 15px;
        margin-left: 5px; }
      .contacts .contacts-holder .contacts-information .address {
        font-size: 16px;
        line-height: 26px;
        color: #000000;
        margin-top: 125px; }
        @media (max-width: 960px) {
          .contacts .contacts-holder .contacts-information .address {
            margin-top: 45px; } }
        .contacts .contacts-holder .contacts-information .address span {
          font-family: "SegoeWPBold", sans-serif; }
      .contacts .contacts-holder .contacts-information .connection {
        margin-top: 175px; }
        @media (max-width: 960px) {
          .contacts .contacts-holder .contacts-information .connection {
            margin-top: 45px; } }
        .contacts .contacts-holder .contacts-information .connection span {
          position: relative;
          padding-left: 40px; }
          .contacts .contacts-holder .contacts-information .connection span.mail {
            margin-left: 20px; }
          .contacts .contacts-holder .contacts-information .connection span:before {
            font-family: 'FontAwesome';
            font-size: 22px;
            color: #ff1e3e;
            position: absolute;
            top: 0;
            left: 0; }
          .contacts .contacts-holder .contacts-information .connection span.skype:before {
            content: '\f17e'; }
          .contacts .contacts-holder .contacts-information .connection span.mail:before {
            content: '\f0e0'; }

.program-section {
  background-color: #f2f2f2;
  padding-top: 44px;
  padding-bottom: 35px; }
  @media (max-width: 960px) {
    .program-section {
      padding-left: 10px;
      padding-right: 10px; } }
  .program-section p {
    color: #aeaeae;
    font-family: "SegoeWPLight", sans-serif;
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .program-section img {
    margin-top: 25px;
    max-width: 100%;
    height: auto; }

footer {
  background-color: #282828;
  padding-top: 42px;
  text-align: left; }
  footer .social {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 85px;
    padding-bottom: 75px;
    border-bottom: 1px solid #3b3b3b; }
    @media (max-width: 640px) {
      footer .social {
        justify-content: center;
        padding-left: 0;
        padding-right: 0; } }
    footer .social p {
      color: #5d5d5d;
      font-family: "SegoeWPLight", sans-serif;
      font-size: 16px; }
    footer .social .footer-menu {
      margin-top: 25px; }
      footer .social .footer-menu li {
        width: 66px;
        height: 66px;
        border: 2px solid #3c3c3c;
        text-align: center; }
        footer .social .footer-menu li a {
          transition: all ease-in-out 0.5s; }
          footer .social .footer-menu li a:hover {
            color: #ff1e3e; }
        footer .social .footer-menu li i {
          font-size: 30px;
          line-height: 60px; }
    footer .social img {
      margin-top: 56px; }
  footer .copyright {
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 81px;
    padding-bottom: 21px; }
    @media (max-width: 640px) {
      footer .copyright {
        padding-left: 10px;
        padding-right: 10px; } }
    footer .copyright img {
      margin: 15px; }
    footer .copyright p {
      margin-top: 22px;
      color: #727272;
      font-family: "SegoeWPLight", sans-serif;
      font-size: 13px; }

/*# sourceMappingURL=main.css.map */
